.home {
    display: flex;
    flex-wrap: wrap;

    .drinkItem {
        display: flex;
        flex: 0 0 25%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        margin-top: 15px;

        &:hover {
            color: #ad9b9b;
        }

        p {
            border: none;
            color: #000;
            margin-bottom: 10px;
            font-size: 18px;

            &:hover {
                color: #ad9b9b;
            }
        }
        
        img {
            max-width: 225px;
            border-radius: 0 15px 0 15px;
            
        }
    }
}

.letterPagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 15% 20px 15%;

    a {
        text-decoration: none;
    }
}
