#view {
  button {
    width: 25%;
    margin-right: 5px;
    border: 1px solid #a8a5a5;
    padding: 10px 5px;
    border-radius: 15px;
    cursor: pointer;
  }

  .siteBtn {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    padding: 15px;
    border-radius: 10px;
    border-radius: 0 15px 0 15px;
    border: 1px solid #000;
    box-shadow: 3px 6px 6px #ad9b9b;
  }

  .siteBtn:hover {
    background-color: #e8e3e3;
  }

  #viewItem {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;

    img {
      max-width: 325px;
      min-width: 170px;
      width: 30%;
      border-radius: 0 15px 0 15px;
      box-shadow: 3px 6px 6px #717070;
    }

    #viewData {
      width: 50%;
      padding: 15px;
      border-radius: 5px;

      h2 {
        margin-bottom: 10px;
        font-weight: 600;
      }

      .viewInfo {
        margin-bottom: 25px;

        p {
          margin-bottom: 5px;
        }

        li {
          margin-left: 25px;
          margin-bottom: 5px;
        }
      }
    }
  }

  #buttonRow {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    #removeFromFavorites {
      cursor: pointer;

      .remove {
        display: none;
      }
    }
  }

  #viewReviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;

    button {
      width: 100%;
    }

    #avgRating {
      margin-bottom: 25px;
      padding-bottom: 7px;
      font-size: 20px;
    }

    #toggleReviews {
      display: none;
    }

    .reviewItem {
      margin: 20px 0;
      border-radius: 10px;
      width: 100%;
      padding: 15px;
      box-shadow: 2px 3px 2px 2px #717070;

      h3,
      p {
        margin-bottom: 7px;
      }
    }

    hr {
      width: 100%;
      border: 1px solid #000;
    }
  }
}

#reviewText {
  width: 70%;
  margin-top: 30px;
}

@media screen and (max-width: 750px) {
  #view {
    #viewItem {
      flex-direction: column;

      #viewImg {
        
      }

      #viewData {
        border-top: #a9a3a3 1px solid;
        border-bottom: #a9a3a3 1px solid;
        border-radius: 0px;
        margin: 20px 0;
        width: 100%;
      }
    }
  }
}