* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
html, body {
 height: 100%;
 padding: 0 $pagePadSize;
}
#app {
    min-height: calc( 100vh - 120px);
    background-color: $secondaryColor;
    // border: 1px solid #000;
}