$primaryColor: #ffffff;
$secondaryColor: #ffffff;
$tertiaryColor: #ffffff;
$pagePadSize: 8%;
$navHeight: 80px;
$footerHeight: 60px;
$centerVertical: calc(100vh - ($navHeight + $footerHeight));
$siteWidth: 1600px;
