#user {
  margin-top: 20px;

  #userData {
    hr {
      border: 1px solid #000;
      margin: 20px 0;
    }

    button {
      width: 100%;
      height: 30px;
      border: 1px solid #a8a5a5;
      border-radius: 5px;
      cursor: pointer;
    }

    #deleteAccount {
      margin: 30px 0;

      &:hover {
        background-color: rgb(213, 105, 105);
      }
    }

    .userSection {
      text-align: center;

      h2 {
        text-align: center;
        border-bottom: 2px solid #000;
        border-top: 2px solid #000;
        border-radius: 5px;
        padding: 8px;
        display: inline-block;
        margin-bottom: 25px;
      }

      #alcoholicOrNo {
        font-size: 21px;
        text-align: center;
        margin: 30px 0;
      }

      #categoryChart,
      #ingredientChart {
        margin: 50px 0;
      }

      #userInfo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .userInfoDetail {
          width: 30%;

          input,
          button {
            width: 100%;
            height: 30px;
            border: 1px solid #a8a5a5;
            border-radius: 5px;
          }

          input {
            padding: 20px 5px;
            margin-bottom: 10px;
          }

          button {
            cursor: pointer;
          }

          .editBtnGroup {
            display: flex;
            width: 100%;

            #updateUNameBtn,
            #cancelUNameEditBtn,
            #updateEmailBtn,
            #cancelEmailEditBtn,
            #updatePwBtn,
            #cancelPwEditBtn {
              display: none;
            }
          }
        }
      }

      #userFavorites {
        display: flex;
        overflow-x: scroll;
        scrollbar-color: #e5697e #fff;
        scrollbar-width: thin;

        .userDrinkItem {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
          text-decoration: none;
          margin-right: 20px;
          margin-bottom: 30px;

          &:hover {
            p {
              color: #e5697e;
            }
          }

          p {
            border: none;
            color: #000;
            margin-bottom: 10px;
            font-size: 18px;
          }

          img {
            max-width: 150px;
            border-radius: 0 15px 0 15px;
            box-shadow: 3px 6px 6px #717070;
          }
        }
      }
    }
  }
}

//modal inputs
#email,
#password,
#username {
  border: 1px solid #c0b7b7;

  &::placeholder {
    opacity: 1 !important;
    color: #c0b7b7;
  }
}
@media screen and (max-width: 700px) {
  #user {
    #userData {
      .userSection {
        #userInfo {
          flex-direction: column;

          .userInfoDetail {
            width: 100%;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
